<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid justify-content-sm-start justify-content-center">
        <a href="#" class="navbar-brand border-top border-bottom border-2 fs-4">IMC <em
                class="text-secondary fs-6">&#10162; Indice de Massa Corporal</em></a>
    </div>
</nav>